<div>
  <div class="close_wrapper">
    <button (click)="onCancel.emit($event)" [disabled]="!car" class="close_btn">&times;</button>
  </div>
  <div class="request_content">
    <div class="title">
      ПОЛУЧИТЕ ВЫГОДНОЕ ПРЕДЛОЖЕНИЕ НА ПОКУПКУ АВТОМОБИЛЯ
    </div>
    <div class="description">
      Оставьте ваши контактные данные и мы расскажем о специальных предложениях
    </div>
     <form [formGroup]="requestForm" (ngSubmit)="onSubmit(requestForm.value)">
        <div class="input_wrapper">
          <input id="clientName" type="text" formControlName="clientName" matInput placeholder="Представьтесь, пожалуйста" class="field">
            <mat-error *ngIf="formControls.clientName?.errors?.minlength">
              Ожидается имя длинее 1 буквы
            </mat-error>
            <mat-error *ngIf="formControls.clientName?.errors?.required && formControls.clientName.touched">
              Пожалуйста заполните свое имя
            </mat-error>         
        </div>
        <div class="input_wrapper">
          <input id="clientPhone" type="text" formControlName="clientPhone" matInput placeholder="Телефон" class="field">
          <mat-error *ngIf="formControls.clientPhone?.errors?.pattern">
            Пожалуйста верный номер телефона
          </mat-error>
          <mat-error *ngIf="formControls.clientPhone?.errors?.required && formControls.clientPhone.touched">
            Пожалуйста введите номер телефона
          </mat-error>
        </div>
        <div class="input_wrapper">
            <input id="clientEmail" type="email" formControlName="clientEmail" matInput placeholder="Email" class="field">
            <mat-error *ngIf="formControls.clientEmail?.errors?.email">
                Пожалуйста введите корректный email
            </mat-error>
            <mat-error *ngIf="formControls.clientEmail?.errors?.required && formControls.clientEmail.touched">
              Пожалуйста введите email
            </mat-error>
        </div>
        <div class="input_wrapper">
            <input id="accepted" type="checkbox" formControlName="accepted"> 
            <span class="accept_description">
              Даю <span class="link" (click)="openPersonalDataProcessingPolicyDialog()">согласие на обработку персональных данных</span> и соглашаюсь с 
              <span class="link"  (click)="openPersonalDataProcessAcceptDialog()">политикой обработки персональных данных</span>
            </span>
        </div>
        <div class="request_footer">
          <button class="accept_btn" type="submit" [disabled]="!car || !requestForm.valid">Получить предложение</button>
        </div>
      </form>
  </div>
</div>
